/* number 0 */

.number0 svg g .segA {
  fill: Red;
}

.number0 svg g .segB {
  fill: Red;
}

.number0 svg g .segC {
  fill: Red;
}

.number0 svg g .segD {
  fill: Red;
}

.number0 svg g .segE {
  fill: Red;
}

.number0 svg g .segF {
  fill: Red;
}

/* number 1 */

.number1 svg g .segB {
  fill: Red;
}

.number1 svg g .segC {
  fill: Red;
}

/* number 2 */

.number2 svg g .segA {
  fill: Red;
}

.number2 svg g .segB {
  fill: Red;
}

.number2 svg g .segD {
  fill: Red;
}

.number2 svg g .segE {
  fill: Red;
}

.number2 svg g .segG {
  fill: Red;
}

/* number 3 */

.number3 svg g .segA {
  fill: Red;
}

.number3 svg g .segB {
  fill: Red;
}

.number3 svg g .segC {
  fill: Red;
}

.number3 svg g .segD {
  fill: Red;
}

.number3 svg g .segG {
  fill: Red;
}

/* number 4 */

.number4 svg g .segB {
  fill: Red;
}

.number4 svg g .segC {
  fill: Red;
}

.number4 svg g .segF {
  fill: Red;
}

.number4 svg g .segG {
  fill: Red;
}

/* number 5 */

.number5 svg g .segA {
  fill: Red;
}

.number5 svg g .segC {
  fill: Red;
}

.number5 svg g .segD {
  fill: Red;
}

.number5 svg g .segF {
  fill: Red;
}

.number5 svg g .segG {
  fill: Red;
}

/* number 6 */

.number6 svg g .segA {
  fill: Red;
}

.number6 svg g .segC {
  fill: Red;
}

.number6 svg g .segD {
  fill: Red;
}

.number6 svg g .segE {
  fill: Red;
}

.number6 svg g .segF {
  fill: Red;
}

.number6 svg g .segG {
  fill: Red;
}

/* number 7 */

.number7 svg g .segA {
  fill: Red;
}

.number7 svg g .segB {
  fill: Red;
}

.number7 svg g .segC {
  fill: Red;
}


/* number 8 */

.number8 svg g .segA {
  fill: Red;
}

.number8 svg g .segB {
  fill: Red;
}

.number8 svg g .segC {
  fill: Red;
}

.number8 svg g .segD {
  fill: Red;
}

.number8 svg g .segE {
  fill: Red;
}

.number8 svg g .segF {
  fill: Red;
}

.number8 svg g .segG {
  fill: Red;
}

/* number 9 */

.number9 svg g .segA {
  fill: Red;
}

.number9 svg g .segB {
  fill: Red;
}

.number9 svg g .segC {
  fill: Red;
}

.number9 svg g .segD {
  fill: Red;
}

.number9 svg g .segF {
  fill: Red;
}

.number9 svg g .segG {
  fill: Red;
}
