/* number 0 */

.number0 {

}

/* number 1 */

.number1 svg g .segB {
  fill: Red;
}

.number1 svg g .segC {
  fill: Red;
}

/* number 2 */

.number2 svg g .segA {
  fill: Red;
}

.number2 svg g .segB {
  fill: Red;
}

.number2 svg g .segD {
  fill: Red;
}

.number2 svg g .segE {
  fill: Red;
}

.number2 svg g .segG {
  fill: Red;
}

/* number 3 */

.number3 svg g .segA {
  fill: Red;
}

.number3 svg g .segB {
  fill: Red;
}

.number3 svg g .segC {
  fill: Red;
}

.number3 svg g .segD {
  fill: Red;
}

.number3 svg g .segG {
  fill: Red;
}


.number5 svg g .segA {
  fill: Red;
}

